body {
  width: 500px;
  margin: 0 auto;
}
nav ul {
  display: flex;
}
li {
  margin: 2px;
  color: blue;
  border: solid 2px blue;
  padding: 10px;
  list-style: none;
}
li a {
  text-decoration: none;
}