body {
  width: 500px;
  margin: 0 auto;
}
h2 {
  position: sticky;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  background-color: blueviolet;
  border: solid 3px black;
  margin: 5px;
  padding: 5px;
}
p:nth-of-type(1) {
  margin-top: 60px;
}
p {
  background-color: aqua;
  border: solid 3px blue;
  margin: 10px;
  padding: 10px;
}

.sticky {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 5px;
  background-color: yellow;
  border: solid 3px blue;
  margin: 10px;
  padding: 10px;
}