.caja1 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.xml {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .xhtml {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .act{
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .xsd {
    grid-column-start: 4;
    grid-column-end: 5;
  }