.background{
  background-image: url(fondo.jpg);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: whitesmoke;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}
.header{
  text-align: center;
  font-size: 24px;
  border: solid 2px black;
  background-color: whitesmoke;
  overflow: auto;
}
.footer{
  border: solid 2px black;
  background-color: whitesmoke;
  overflow: auto;
}
.nav{
  background-color: whitesmoke;
  border: solid 2px black;
  text-align: center;
  font-size: 20px;
  color: black;
  margin: auto;
  overflow: auto;
}
.caja1 {
  text-align: center;
  margin: auto;
  color: white;
  width: 200px;
  overflow: auto;
}
.caja2{
  color: black;
  font-size: 16px;
  text-align: center;
  background: whitesmoke;
  margin: auto;
  border: solid 2px black;
  height: 40px;
  width: 150px;
}
.caja2:hover{
  border: solid 2px black;
  height: 50px;
  width: 160px;
}