h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
  margin: 20px;
}

.parrafo {
  font-size: 18px;
  padding: 48px 60px;
  border: solid 24px green;
  margin: 20px;
}

article {
  background-color: #eee;
  width: 400px;
  border: 1px dotted black;
  overflow: visible;
}
